<header class="site-header">
  <div class="top-nav">
    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>

    <nav class="nav-links">
      {% for path in site.header_pages %}
        {% assign p = site.pages | where: "path", path | first %}
        {% if p %}
          <a href="{{ p.url | relative_url }}"
             class="{% if page.url == p.url %}active{% endif %}">
            {{ p.title }}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>


