<header class="site-header">
  <div class="top-nav">
    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>

    <nav class="nav-links">
      <a href="{{ '/teaching/' | relative_url }}" class="{% if page.url == '/teaching/' %}active{% endif %}">Teaching and Outreach</a>
      <a href="{{ '/publications/' | relative_url }}" class="{% if page.url == '/publications/' %}active{% endif %}">Publications</a>
      <a href="{{ '/cv/' | relative_url }}" class="{% if page.url == '/cv/' %}active{% endif %}">CV</a>
      <a href="{{ '/contact/' | relative_url }}" class="{% if page.url == '/contact/' %}active{% endif %}">Contact</a>
    </nav>
  </div>
</header>
